<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<section class="hero is-medium ">
  <div class="hero-body">
    <p class="title">
      
    </p>
    <p class="subtitle has-text-centered">
      Take A Break From Coding!
    </p>
  </div>
</section>


<body class="is-centered">

   <header class="navback">
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="m-1">Dashboard</a>
        <a href="/exercise" class="m-1">Exercise</a>
        <a href="/music">Music</a>
        <a href="/outdoors">Outdoors</a>
        <a href="/food">Food</a>
        <a href="/study">Study</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        <a href="/music">Music</a>
        <a href="/exercise">Exercise</a>
        <a href="/outdoors">Outdoors</a>
        <a href="/food">Food</a>
        <a href="/study">Study</a>
        {{/if}}
      </nav>  
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
        <div class="wrapper">
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>