<img src="/image/codinghelp.jpg" alt="yourpostpic" class="center" width="50" height="50">

 <ol class="post-list">
  {{#each posts as |post|}}</p>
    
  </div>
  <div class="message-body">
    <li class="box">
    {{> post-info post }}
  </li>
  {{options_id}}
  {{/each}}
</ol>
  </div>
</article>

