{{> post-info post}}

{{#if loggedIn}}
<div class="box">
  <form class="comment-form  is-warning is-medium">
  
    <textarea name="comment-body"></textarea>
  

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}
</div>


